:root {
  --main-text-color: #000;
  --second-text-color: #fff;
  --text-color: #070719;
  --accent-text-color: red;
}

body {
  background-color: var(--text-color);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  color: var(--main-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul {
  list-style: none;
}

picture,
picture img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 49px;
  padding-right: 49px;
  max-width: 1400px;
  overflow: hidden;
}

.mob-menu-top {
  display: none;
  position: fixed;
  text-align: center;
  top: 0;
  right: 0;
  width: 643px;
  height: 100vh;
  padding-top: 200px;
  -webkit-transition: left 500ms cubic-bezier(0.68, 0.55, 0.27, 1.55);
  transition: left 500ms cubic-bezier(0.68, 0.55, 0.27, 1.55);
}

.mob-menu-top.animate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #D02B2B;
  left: calc(50vw + 750px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.mobmenu__item {
  margin-bottom: 38px;
}

.mobmenu__item:last-child {
  margin-bottom: 0;
}

.mobmenu__link {
  font-family: Risque;
  font-size: 32px;
  font-weight: 400;
  color: var(--second-text-color);
  text-decoration: none;
  line-height: 1, 2;
}

.mobmenu__link:active {
  color: var(--accent-text-color);
}

.button {
  background-color: transparent;
  border: solid 2px #fff;
  border-radius: 20px 20px 20px 0px;
  width: 186.35px;
  height: 44px;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--second-text-color);
  cursor: pointer;
  -webkit-transition: color 250ms linear, border-color 250ms;
  transition: color 250ms linear, border-color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: var(--second-text-color);
  color: var(--text-color);
}

.burger-background {
  width: 60px;
  height: 60px;
  border: solid #D02B2B 2px;
  border-radius: 50px 0px 50px 50px;
  background: #D02B2B;
}

.burger {
  position: absolute;
  right: 62px;
  z-index: 999;
  width: 30px;
  height: 46px;
  cursor: pointer;
}

.burger span, .burger span::after, .burger span::before {
  width: 100%;
  height: 3px;
  position: absolute;
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 5px;
  background: var(--second-text-color);
}

.burger span::before {
  content: "";
  top: -10px;
  -webkit-transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger span {
  top: 20px;
}

.burger span::after {
  content: "";
  bottom: -10px;
  -webkit-transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger span.active::before {
  content: "";
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
  transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
}

.burger span.active::after {
  content: "";
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
  transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
}

.burger span.active {
  background: rgba(255, 255, 255, 0);
}

.modalchecktext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #D02B2B;
}

.modalchecktext::before {
  content: "";
  width: 16px;
  height: 15px;
  border: solid 2px #D02B2B;
  margin-right: 5px;
  display: block;
  border-radius: 3px;
}

.modal-check:checked + .modalchecktext::before {
  background-image: url(../images/svg/checkbox.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

.modalchecktext__link {
  text-decoration-skip-ink: none;
  color: var(--accent-text-color);
}

.checkbox-icon {
  margin-right: 8px;
  display: inline-block;
  width: 16px;
  height: 15px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.form {
  padding-left: 22px;
}

.form__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
}

.form__item {
  margin-right: 23px;
  margin-bottom: 20px;
  padding-left: 22px;
  background: transparent;
  width: 220px;
  height: 48px;
  border: solid 3px #fff;
  border-radius: 15px;
}

.form__item__witsh {
  background: transparent;
  width: 468px;
  height: 76px;
  border: solid 3px #fff;
  border-radius: 15px;
}

.form__input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  color: var(--accent-text-color);
}

.form__input__witsh {
  padding-top: 9px;
  padding-left: 17px;
  width: 460px;
  background: transparent;
  border: none;
  color: var(--second-text-color);
}

input::-webkit-input-placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--second-text-color);
}

input:-ms-input-placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--second-text-color);
}

input::-ms-input-placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--second-text-color);
}

input::placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--second-text-color);
}

.form__button-img {
  margin-left: 103px;
}

.dropdown {
  position: relative;
}

.dropdown__button {
  display: block;
  width: 220px;
  height: 48px;
  text-align: left;
  padding: 13px 16px 13px 20px;
  margin-right: 23px;
  background: transparent;
  border: 3px solid #fff;
  border-radius: 15px;
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.dropdown__button:active, .dropdown__button:focus {
  outline: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: 0px 0px 0px 1px #d7cfcf;
          box-shadow: 0px 0px 0px 1px #d7cfcf;
}

.dropdown__list {
  display: none;
  position: absolute;
  left: 0;
  top: 45px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #fff;
  -webkit-box-shadow: 0px 2px 3px #d7cfcf;
          box-shadow: 0px 2px 3px #d7cfcf;
  overflow: hidden;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 220px;
  z-index: 1;
}

.dropdown__list--visible {
  display: block;
}

.dropdown__list-item {
  margin: 0;
  padding: 0;
  border-bottom: 0;
  padding: 13px 20px;
  cursor: pointer;
  color: #CECECE;
}

.dropdown__list-item:hover, .dropdown__list-item:focus {
  color: #D02B2B;
}

.dropdown__input-hidden {
  display: none;
}

.snowball__main-img {
  position: absolute;
  left: -220px;
  top: 269px;
  animation: 1s linear 0s normal none infinite running rot;
  -webkit-animation: 50s linear 0s normal none infinite running rot;
  width: 520px;
}

@-webkit-keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.snowball__about-img {
  position: absolute;
  left: -219px;
  top: -147px;
  animation: 1s linear 0s normal none infinite running rot;
  -webkit-animation: 50s linear 0s normal none infinite running rot;
  width: 520px;
}

@keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 200;
  background: transparent;
}

.header__menu {
  margin-left: auto;
  margin-right: auto;
}

.header__nav {
  margin-bottom: 72px;
  padding-top: 38.94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  margin-right: 34px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__linkcurrent {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17px;
  cursor: pointer;
  color: var(--second-text-color);
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__linkcurrent:hover, .header__linkcurrent:focus {
  color: var(--accent-text-color);
}

.main {
  background-color: #070701 !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.stars__img {
  position: absolute;
  animation-name: stars__img;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 2s;
  -webkit-animation-name: stars__img;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-duration: 2s;
}

@-webkit-keyframes stars__img {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1.0;
  }
}

@keyframes stars__img {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1.0;
  }
}

.main__box {
  padding-top: 253px;
  padding-left: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.main__left {
  position: absolute;
}

.main__title {
  margin-bottom: 20px;
  font-family: Risque;
  font-weight: 400;
  font-size: 72px;
  line-height: 1.2;
  color: var(--second-text-color);
}

.main__text {
  margin-bottom: 27px;
  font-family: Risque;
  font-weight: 400;
  font-size: 38px;
  line-height: 1.2;
  color: var(--second-text-color);
}

.main__img {
  position: absolute;
  top: 200px;
  left: 517px;
}

.animated-infinity-spin {
  -webkit-animation: spin 1s linear;
          animation: spin 1s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main__dedtext {
  position: absolute;
  top: 0;
  -webkit-animation: anim 3s;
          animation: anim 3s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  border: solid 2px #fff;
  border-radius: 50%;
  width: 222px;
  height: 166px;
  background: var(--second-text-color);
  left: 624px;
  top: 383px;
  -webkit-filter: drop-shadow(15px 4px 5px rgba(255, 255, 255, 0.25));
          filter: drop-shadow(15px 4px 5px rgba(255, 255, 255, 0.25));
}

@-webkit-keyframes anim {
  from {
    left: -100%;
  }
  to {
    left: 624px;
  }
}

@keyframes anim {
  from {
    left: -100%;
  }
  to {
    left: 624px;
  }
}

.main__poligon-img {
  position: absolute;
  top: -6px;
  left: 173px;
}

.main__text-how-how-how {
  padding-top: 46px;
  padding-left: 31px;
  font-family: Risque;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: var(--text-color);
}

.arrow__main-img {
  position: absolute;
  margin-top: 445px;
}

.about {
  background-image: url(../images/about/about_background_pc-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about__right {
  margin-left: 52px;
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 199px;
  padding-left: 33px;
}

.about__title {
  margin-bottom: 30px;
  font-family: Risque;
  font-weight: 400;
  font-size: 56px;
  line-height: 1.2;
  color: var(--second-text-color);
}

.about__text {
  margin-bottom: 30px;
  font-family: Risque;
  font-weight: 400;
  font-size: 38px;
  line-height: 1.2;
  color: var(--second-text-color);
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__item__border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 405px;
  border: solid 3px #fff;
  border-radius: 20px;
  padding: 58px 37px 76px 37px;
}

.about__present__title {
  margin-bottom: 37px;
  font-family: Risque;
  font-weight: 400;
  font-size: 42px;
  line-height: 1.2;
  color: var(--second-text-color);
}

.about__present__description {
  width: 301px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  color: var(--second-text-color);
}

.present__sock__img {
  margin-top: 35px;
  width: 148px;
  height: 256px;
}

.present__hat__img {
  margin-top: 35px;
  width: 148px;
  height: 170px;
}

.present__bag__img {
  margin-top: 35px;
  width: 148px;
  height: 156px;
}

.content {
  display: none;
}

.content.is-active {
  display: block;
}

.about__imgborder {
  margin-right: 32px;
  padding-top: 18px;
  text-align: center;
  width: 149.78px;
  height: 149.78px;
  border: solid 2px #fff;
  border-radius: 50%;
  background: var(--second-text-color);
  cursor: pointer;
}

.about__imgborder.is-active {
  background: transparent;
}

.writeus {
  background-image: url(../images/write_us/write_us_background_pc-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.writeus__title {
  padding-top: 181px;
  padding-left: 22px;
  margin-bottom: 29px;
  font-family: Risque;
  font-weight: 400;
  font-size: 56px;
  line-height: 1.2;
  color: var(--second-text-color);
}
