:root {
  --main-text-color: #000;
  --second-text-color: #fff;
  --text-color: #070719;
  --accent-text-color: red;
}

body {
  background-color: var(--text-color);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  color: var(--main-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul {
  list-style: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

picture,
picture img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 49px;
  padding-right: 49px;
  width: 1200px;
}

.container-main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.main {
  background-color: aqua;
}

.news {
  background-color: #402ea9;
}

.contacts {
  background-color: #be23b6;
}

.portfolio {
  background-color: #1fc11f;
}

.header__wrapper {
  position: relative;
  overflow-x: hidden;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  width: 30%;
  height: 100vh;
  background-color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.menu_active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__link {
  text-decoration: none;
  color: brown;
}

.menu-btn {
  width: 30px;
  height: 30px;
  background-color: forestgreen;
  position: absolute;
  left: -30px;
  top: 10px;
}

.header {
  position: relative;
  z-index: 200;
  background: #070719;
}

.header__nav {
  margin-top: 38.94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  margin-right: 34px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__linkcurrent {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17px;
  cursor: pointer;
  color: var(--second-text-color);
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__linkcurrent:hover, .header__linkcurrent:focus {
  color: var(--accent-text-color);
}
