.about {
    background-image: url(../images/about/about_background_pc-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about__box {
    padding-top: 199px;
    display: flex;
    justify-content: space-between;
}

.about__title {
    margin-bottom: 30px;
    font-family: Risque;
    font-weight: 400;
    font-size: 56px;
    line-height: 1.2;
    color: var(--second-text-color);
}

.about__text {
    margin-bottom: 30px;
    font-family: Risque;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.2;
    color: var(--second-text-color);
}

.about__list {
    display: flex;
}


.about__item__border {
    display: flex;
    height: 405px;
    border: solid 3px #fff;
    border-radius: 20px;
    padding: 58px 37px 76px 37px;
}

.about__present__title {
    margin-bottom: 37px;

    font-family: Risque;
    font-weight: 400;
    font-size: 42px;
    line-height: 1.2;
    color: var(--second-text-color);
}

.about__present__description {
    width: 301px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    color: var(--second-text-color);
}

.present__sock__img {
    margin-top: 35px;
    width: 148px;
    height: 256px;
}

.present__hat__img {
    margin-top: 35px;
    width: 148px;
    height: 170px;
}

.present__bag__img {
    margin-top: 35px;
    width: 148px;
    height: 156px;
}


.content {
    display: none;
}

.content.is-active {
    display: block;
}

.about__imgborder  {
    margin-right: 32px;
    padding-top: 18px;
    text-align: center;
    width: 149.78px;
    height: 149.78px;
    border: solid 2px #fff;
    border-radius: 50%;
    background: var(--second-text-color);
    cursor: pointer;
}

.about__imgborder.is-active {
    background: transparent;
}

