.about {
    padding-left: 0;
    padding-right: 0;
    background-image: url(../images/about/about_background_pc-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and(min-width:450px) {
            padding-left: 27px;
            padding-right: 27px;
        }
                @media screen and(min-width:768px) {
                    padding-left: 49px;
                    padding-right: 49px;
                }
}

.about__right{
    margin-top: 310px;
    @media screen and(min-width:768px) {
        margin-top: 0;
            margin-left: 52px;
    
        }
}

.about__box {
    padding-left: 0;
    padding-right: 0;
    display: block;
    padding-top: 94px;
    @media screen and(min-width:768px) {
        padding-top: 199px;
        padding-left: 33px;
        padding-right: 0;
        display: flex;
        }
    
}

.about__title {
    margin-bottom: 25px;
    font-family: Risque;
    font-weight: 400;
    font-size: 52px;
    line-height: 1.2;
    color: var(--second-text-color);
    @media screen and(min-width:768px) {
        margin-bottom: 30px;
            font-size: 56px;
        }
}

.about__text {
    margin-bottom: 34px;
    font-family: Risque;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.2;
    color: var(--second-text-color);
    @media screen and(min-width:768px) {
            margin-bottom: 30px;
        }
}

.about__list {
    display: flex;
    justify-content: center;
}


.about__item__border {
    height: 405px;
    border: none;
    border-radius: 20px;
    padding:0;
    margin-top: 0;
    @media screen and(min-width:768px) {
        display: flex;
        border: solid 3px #fff;
        padding: 58px 37px 76px 37px;
    }
}

.about__present__title {
    text-align: center;
    margin-bottom: 29px;

    font-family: Risque;
    font-weight: 400;
    font-size: 42px;
    line-height: 1.2;
    color: var(--second-text-color);
    @media screen and(min-width:768px) {
        text-align: inherit;
        margin-bottom: 37px;
        }
}

.about__present__description {
    width: 100%;
    font-family: Roboto;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    color: var(--second-text-color);
    @media screen and(min-width:768px) {
        padding-left: 0;
        width: 301px;
        text-align: inherit;
        margin-bottom: 37px;
        }
}

.present__sock__img {
    position: absolute;
    bottom: -1024px;
    left: 90px;
    width: 148px;
    height: 170px;

    @media screen and(min-width:375px) {
        bottom: -1024px;
    }

    @media screen and(min-width:450px) {
        bottom: -910px;
        left: 156px;
    }

    @media screen and(min-width:768px) {
        position: inherit;
        bottom: auto;
        left: auto;
        margin-top: 35px;
    }
}

.present__hat__img {
    position: absolute;
    bottom: -1024px;
    left: 90px;
    width: 148px;
    height: 170px;

    @media screen and(min-width:375px) {
        bottom: -1024px;
    }

    @media screen and(min-width:450px) {
        bottom: -910px;
        left: 156px;
    }

    @media screen and(min-width:768px) {
        position: inherit;
        bottom: auto;
        left: auto;
        margin-top: 35px;
    }
}

.present__bag__img {
    position: absolute;
    bottom: -1024px;
    left: 90px;
    width: 148px;
    height: 170px;

    @media screen and(min-width:375px) {
        bottom: -1024px;
    }

    @media screen and(min-width:450px) {
        bottom: -910px;
        left: 156px;
    }

    @media screen and(min-width:768px) {
        position: inherit;
        bottom: auto;
        left: auto;
        margin-top: 35px;
    }
}


.content {
    display: none;
}

.content.is-active {
    display: block;
}

.about__imgborder  {
    margin-right: 10px;
    padding-top: 18px;
    text-align: center;
    width: 80px;
    height: 80px;
    border: solid 2px #fff;
    border-radius: 50%;
    background: var(--second-text-color);
    cursor: pointer;
    &:last-child {
            margin-right: 0;
        }
                @media screen and(min-width:450px) {
                    width: 111px;
                    height: 111px;
                }
                                @media screen and(min-width:768px) {
                                    width: 149.78px;
                                    height: 149.78px;
                                }
}

.about__imgborder.is-active {
    background: transparent;
}


.sock__img {
width: 39.64px;
height: 43.95px;
@media screen and(min-width:450px) {
        width: 51.64px;
        height: 89.95px;
    }
        @media screen and(min-width:768px) {
            width: 69.65px;
            height: 121.33px;
        }
}

.caps__img {
    width: 57.61px;
    height: 42.4px;

    @media screen and(min-width:450px) {
        width: 91.61px;
        height: 69.4px;
    }
        @media screen and(min-width:768px) {
            width: 123.57px;
            height: 93.62px;
        }
}

.bag__img {
    width: 44.52px;
    height: 45.4px;

    @media screen and(min-width:450px) {
        width: 70.52px;
        height: 74.4px;
    }
        @media screen and(min-width:768px) {
            width: 95.11px;
            height: 100.36px;
        }
}