.header {
    padding-left: 0;
    padding-right: 0;
    position: inherit;
    width: 100%;
    background: transparent;
    @media screen and(min-width:768px) {
        padding-left: 49px;
        padding-right: 49px;
        position: fixed;
        z-index: 200;
        }
}

.header__menu {
    display: none;
    @media screen and(min-width:768px) {
        display: flex;
        margin-left: 512px;
        }
}

.header__nav {
    margin-bottom: 131px;
    padding-top: 38.94px;
    display: flex;
    align-items: center;
    @media screen and(min-width:768px) {
            margin-bottom: 72px;
        }
}

.header__list {
    display: flex;
}

.header__item {
    margin-right: 34px;
    &:last-child {
            margin-right: 0;
        }
}

.header__linkcurrent {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17px;
    cursor: pointer;
    color: var(--second-text-color);
    transition: color 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }
}