.main  {
    padding-left: 0;
    padding-right: 0;
    @media screen and(min-width:768px) {
        padding-left: 49px;
        padding-right: 49px;
        background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
    background-color: rgb(7, 7, 25/20%) !important;
        }
}

.stars__img {
    display: none;
    position: absolute;
    animation-name: stars__img;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    animation-duration: 2s;
    -webkit-animation-name: stars__img;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 2s;
    @media screen and(min-width:768px) {
            display: block;
            
        }
} @keyframes stars__img {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1.0;
    }
}


.main__box {
    padding-left: 0;
    justify-content: space-between;
    width: 100%;
    @media screen and(min-width:768px) {
        padding-left: 90px;
            padding-top: 253px;
        }
}


.main__left {
    position:inherit;
    @media screen and(min-width:768px) {
        position: absolute;
        }
}

.main__title {
    margin-bottom: 13px;
    font-family: Risque;
    font-weight: 400;
    font-size: 52px;
    line-height: 1.2;
    color: var(--second-text-color);
    @media screen and(min-width:768px) {
        margin-bottom: 20px;
        font-size: 72px;
        }
}

.main__text {
    margin-bottom: 43px;
    font-family: Risque;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    color: var(--second-text-color);
    @media screen and(min-width:768px) {
        margin-bottom: 27px;
            font-size: 38px;
        }
}

.main__button {
    text-align: center;
@media screen and(min-width:768px) {
        text-align: left;
    }
}

.main__img {
    margin-top: 77px;
    width: 100%;
    @media screen and(min-width:768px) {
        top: 200px;
        width:auto;
            left: 517px;
            position: absolute;
        }
}


.animated-infinity-spin {
    animation: spin 1s linear;
    animation-iteration-count: infinite;
}

.main__dedtext {
    display: none;
    position: absolute;
    top: 0;
    animation: anim 3s;
    animation-duration: 3s;
    border: solid 2px #fff;
    border-radius: 50%;
    width: 222px;
    height: 166px;
    background: var(--second-text-color);
    left: 624px;
    top: 383px;
    filter: drop-shadow(15px 4px 5px rgba(255,255,255,0.25));
    @media screen and(min-width:768px) {
            display: block;
            position: absolute;
        }
    
} @keyframes anim {
    from {left: -100%;}
    to {left: 624px;}
}

.main__poligon-img {
    position: absolute;
    top: -6px;
    left: 173px;
}

.main__text-how-how-how {
    padding-top: 46px;
    padding-left: 31px;
    font-family: Risque;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: var(--text-color);
}

.arrow__main-img {
    display: none;
    position: absolute;
    margin-top: 445px;
    @media screen and(min-width:768px) {
        display: block;
        }
}


