.main  {
    background-color: rgb(7, 7, 25/20%) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.stars__img {
    position: absolute;
    animation-name: stars__img;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    animation-duration: 2s;
    -webkit-animation-name: stars__img;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 2s;
} @keyframes stars__img {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1.0;
    }
}


.main__box {
    padding-top: 253px;
    padding-left: 90px;
    justify-content: space-between;
    width: 100%;
}

.main__left {
    position: absolute;
}

.main__title {
    margin-bottom: 20px;
    font-family: Risque;
    font-weight: 400;
    font-size: 72px;
    line-height: 1.2;
    color: var(--second-text-color);
}

.main__text {
    margin-bottom: 27px;
    font-family: Risque;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.2;
    color: var(--second-text-color);
}

.main__img {
    position: absolute;
    top: 200px;
    left:517px;
}


.animated-infinity-spin {
    animation: spin 1s linear;
    animation-iteration-count: infinite;
}

.main__dedtext {
    position: absolute;
    top: 0;
    animation: anim 3s;
    animation-duration: 3s;
    border: solid 2px #fff;
    border-radius: 50%;
    width: 222px;
    height: 166px;
    background: var(--second-text-color);
    left: 624px;
    top: 383px;
    filter: drop-shadow(15px 4px 5px rgba(255,255,255,0.25));
    
} @keyframes anim {
    from {left: -100%;}
    to {left: 624px;}
}

.main__poligon-img {
    position: absolute;
    top: -6px;
    left: 173px;
}

.main__text-how-how-how {
    padding-top: 46px;
    padding-left: 31px;
    font-family: Risque;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: var(--text-color);
}

.arrow__main-img {
    position: absolute;
    margin-top: 445px;
}


