.writeus {
    background-image: url(../images/write_us/write_us_background_pc-1x.jpg);
    background-repeat: no-repeat;
    background-position:center;
    max-height: 755px;
}

.writeus__title {
    padding-top: 181px;
    padding-left: 22px;
    margin-bottom: 29px;
    font-family: Risque;
    font-weight: 400;
    font-size: 56px;
    line-height: 1.2;
    color: var(--second-text-color);
}

