.modalchecktext {
    display: flex;
    padding-bottom: 75px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #D02B2B;

    &::before {
        content: "";
        width: 16px;
        height: 15px;
        border: solid 2px #D02B2B;
        margin-right: 5px;
        display: block;
        border-radius: 3px;
    }

    .modal-check:checked+&::before {
        background-image: url(../images/svg/checkbox.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
    }
        @media screen and(min-width:768px) {
        padding-bottom: 0;
    
    }
}


.modalchecktext__link {
    text-decoration-skip-ink: none;
    color: var(--accent-text-color);
}

.checkbox-icon {
    margin-right: 8px;
    display: inline-block;
    width: 16px;
    height: 15px;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.form {
    padding-left: 0;
    padding-right: 0;
    @media screen and(min-width:768px) {
            padding-left: 22px;
            padding-right: 49px;
    
        }
    }


.form__box {
    @media screen and(min-width:768px) {
            display: flex;
                flex-wrap: wrap;
                width: 50%;
        }
    }


.form__item {
    margin-right: 23px;
    margin-bottom: 20px;
    padding-left: 22px;
    background: transparent;
    width: 346px;
    height: 48px;
    border: solid 3px #fff;
    border-radius: 15px;
    @media screen and(min-width:768px) {
            width: 220px;
        }
    }


.form__item__witsh {
    background: transparent;
    width: 345px;
    height: 76px;
    border: solid 3px #fff;
    border-radius: 15px;
    @media screen and(min-width:768px) {
            width: 468px;
        }
}

.form__input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: var(--accent-text-color);
}

.form__input__witsh {
    padding-top: 9px;
    padding-left: 17px;
    width: 460px;
    background: transparent;
    border: none;
    color: var(--second-text-color);
}


input::placeholder {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: var(--second-text-color);
}

.form__button-img {
    margin-left: 230px;
    @media screen and(min-width:768px) {
        margin-left: 103px;
        }
}


