.open-menu-btn {
    background: none;
    border-color: transparent;
    border: none;
    padding: 0;
    margin-right: 8px;
}

.close-menu-btn {
    background: none;
    border-color: transparent;
    margin-left: auto;
}

.menu-icon {
    width: 60.12px;
    height: 60.12px;
}

.menu-iconclose {
    width: 28px;
    height: 25px;
    fill:#fff;
}



.close-menu-btn {
    margin-top: 0;
    padding-right: 10px;
    padding-left: 10px;
    padding: 0 10px;
    background: none;
    border: none;
    display: block;
    margin-left: auto;
    transition: color 250ms linear, border-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--accent-text-color);
    }
}

.mob-menu {
    display: none;
    position: fixed;
    text-align: center;
    top: 0;
    right: 0;
    width: 643px;
    height: 100vh;
    z-index: 999;
    padding-top: 4%;
    padding-left: 172px;
    padding-right: 178px;
    background-color: #D02B2B;
  

    &.is-open {
        display: flex;
        flex-direction: column;
    }
}

.mobmenu__item {
    padding-bottom: 32px;
}

.mob-menu-top {
    margin-top: 0;
}

.mob-menu-bottom {
    margin-top: auto;
}

.mobmenu__link {
    font-family: Risque;
    font-size: 32px;
    font-weight: 400;
    color: var(--second-text-color);
    text-decoration: none;
    line-height: 1, 2;
    

    &:active {
        color: var(--accent-text-color);
    }
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.mobmenu{
    padding-top: 40%;
}

