.snowball__main-img {
    display: none;
    position: absolute;
    left: -220px;
    top: 269px;
    animation: 1s linear 0s normal none infinite running rot;
    -webkit-animation: 50s linear 0s normal none infinite running rot;
    width: 520px;
    @media screen and(min-width:768px) {
            display: block;
            position: absolute;
        }
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.snowball__about-img {
    display: none;
    position: absolute;
    left: -219px;
    top: -147px;
    animation: 1s linear 0s normal none infinite running rot;
    -webkit-animation: 50s linear 0s normal none infinite running rot;
    width: 520px;
    @media screen and(min-width:768px) {
            display: block;
            position: absolute;
        }
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}