:root {
    --main-text-color: #757575;
    --second-text-color: #212121;
  
}

body {
    background-color: var(--text-color);
    font-family: Roboto, -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    color: var(--main-text-color);
}