:root {
    --main-text-color: #000;
    --second-text-color: #fff;
    --text-color: #070719;
    --accent-text-color: red;

}

body {
    background-color: var(--text-color);
    font-family: Roboto, -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    color: var(--main-text-color);
    overflow:hidden;
}